body {
    padding-top: 5%;
    margin: 0px;
    font-family: 'Lora', serif;
    background-image: url("./images/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
}

/* Main boxes on front page */
#home {
    padding: 10px;
    margin: auto;
    width: 800px;
    height: 600px;
    top: 50%;
    position: relative;
    border: 1px solid #D6D6D6;
    background-color: #ffffff;
}

#bigLogo {
    margin: 0 auto;
    padding-top: 10px;
    width: auto;
    height: 200px;
    font-size: 150px;
    font-family: 'Great Vibes', cursive;
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
}

#homeMainForm {
    padding: 20px;
    position: relative;
    margin: auto;
}

#homeSubmit {
    padding: 20px;
    float: right;
    width: 100px;
}

/* Fields on the main page */
#destDiv {
    position: relative;
    padding: 10px;
    margin: auto;
    width: 750px;
}

#destField {
    height: 70px;
    width: 750px;
    font-family: 'Lora', serif;
    font-size: 50px;
}

#startEnd {
    position: relative;
    padding: 10px;
    margin: auto;
    width: auto;
}

.startEndField {
    height: 30px;
    width: 400px;
    font-size: 25px;
}

#startField {
    width: auto;
}

#endField {
    width: auto;
    display: none;
}

#showEndField {
}

#showEndFieldText {
    padding-top: -5px;
    font-size: 10px;
}

#timeFrame {
    position: relative;
    padding: 10px;
    margin: auto;

}

#dateInput {

}

.timeInput {

}
