html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0px;
    background-color: #f8f8f8;
}

#topBanner {
    padding-top: 0px;
    padding-bottom: 55x;
    position: relative;
    margin: 0px;
    height: 65px;
    width: 100%;
    background-color: #E8F8FC;
    border: 5px solid #25DB47;
    border-top: none;
    border-left: none;
    border-right: none;
}

#topBanner h1 {
    width: 1000px;
    position: relative; 
    margin: auto;
    font-family: "Great Vibes", cursive;
    font-size: 55px;
    text-align: right;
    z-index: 10000;
}

#main {
    margin: auto;
    height: auto;
    width: 1000px;
    position: relative;
}

/* Left side: */
nav {
    float: left;
    position: relative;
    width: 400px;
    height: 100%;
    background-color: #ffffff;
}

#searchFilters {
    padding: 10px;
}

#transpoIcons {
    padding: 10px;
    margin: auto;
    text-align: center;
}

#filterOptions {
    padding: 10px;
    margin: auto;
    text-align: center;
}

#poiList {
    padding: 10px;
    display: none;
}

#foodList {
    padding: 10px;
    display: none;
}

#shopList {
    padding: 10px;
    display: none;
}

#searchResults {
    width: 400px;
    position: relative;
    padding: 10px;
    margin: 20px;
}

#gMapsPanel {
    display:none;
    z-index: 100;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #111;
    opacity: 0.45;
    top: 0px;
    left: 0px;
}

#gMapsDiv {
    position:absolute;
    width:500px;
    height:500px;
    border:2px solid #000;
    z-index: 200;
    display:none;
}

.singleSearchResult {
    position: relative;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #d6d6d6;
    width: 80%;
    height: auto;
}

.singleSearchResult #placeTitle {
    text-decoration: bold;
}

.singleSearchResult #description {
    text-decoration: none;
}

/* Right side: */
article {
    padding: 10px;
    width: 579px;
    height: 100%;
    float: right;
    position: relative;
    background-color: #ffffff;
    border-style: solid;
    border-color: #d6d6d6;
    border-width: 1px;
    border-right: none; 
    border-bottom: none; 
    border-top: none; 
}

/* map icon goes here  */
#miniNavBar {
    padding: 5px;
    margin-top: -30px;
    float: right; 
    width: auto;
    top: 0;
    right: 0;
    z-index: 1000;
}

.list-right .place {
     width: 500px; 
     height: 100px;
     background-color: #fff;
     border: 1px solid #d6d6d6;
     padding:20px;
     margin:20px;
}

.list-right{
    width: 500px;
}

.delete {
    z-index: 1000;
    position: absolute;
    margin-top: -50px;
    left: 85%;
    height: 25px;
    width: 15px;
}

.icons {
    width: 30px;
    height: 30px;
    background-size: 50px; 
}

#verticalTimeline {
    /* Look for APIs (difficult) wait to implement */
}

#tourResult {

}

.tourEntry {

}

