<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static_files/style.css">
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <title>Plan a Day</title>
    </head>
    <body>
        <div id="home">
            <div id="bigLogo">
                LOGO GOES HERE
            </div>
            <form method="POST">{% csrf_token %}
                <div id="homeMainForm">

                    <div id="destDiv">
                        <input type="text" name="destination" id="destField"
                            placeHolder="Where to explore?">
                    </div>

                    <div id="startEnd">
                        <input type="text" name="fromAddress" id="startField"
                            placeHolder="Starting from...">
                        <div id="showEndField"><a href=""></a></div>
                        <input type="text" name="returnAddress" id="endField">
                    </div>

                    <div id="timeFrame">
                        <input type="text" name="date" id="dateInput"
                            placeHolder="Date">
                        <input type="text" name="startTime" class="timeInput"
                            placeHolder="Start Time">
                        <input type="text" name="endTime" class="timeInput"
                            placeHolder="End Time">
                    </div>
                </div>

                <div id="homeSubmit">
                    <input type="submit" value="Go!" class="brightButton">
                </div>

            </form>
        </div>
    </body>
</html>
