<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Lora|Muli|Great+Vibes' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "home.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "datepicker/css/datepicker.css" %}">

        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen"
             href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">

        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="{% static "datepicker/js/bootstrap-datepicker.js" %} "></script>
        <script src="{% static "home.js" %}"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <title>Plan a Day</title>
    </head>
    <body>
        <div id="home">
            <div id="bigLogo">
                Plan a Day
            </div>
            <form id="mainForm" method="POST">{% csrf_token %}
                <div id="homeMainForm">

                    <div id="destDiv">
                        <input type="text" name="destination" id="destField"
                            placeHolder="Where to explore?">
                    </div>

                    <div id="startEnd">
                            <input type="text" name="fromAddress" id="startField" class="startEndField"
                                placeHolder="Starting from...">
                            <input type="text" name="returnAddress" id="endField" class="startEndField"
                                placeHolder="Ending at...">
                            <div id="showEndField" onclick="addEndField()">
                                <span id="showEndFieldText">Not returning here?</span>
                            </div>
                    </div>

                    <div id="timeFrame">
                        <input type="text" name="date" id="dateInput" placeHolder="Date">
                        <input type="text" name="startTime" class="timeInput"
                            placeHolder="Start Time">
                        <input type="text" name="endTime" class="timeInput"
                            placeHolder="End Time">
                    </div>
                </div>

                <div id="homeSubmit">
                    <input type="submit" value="Go!" class="brightButton" id="submitButton">
                </div>

            </form>
        </div>
        <script type="text/javascript">
    
            function cityToLatLng(city, callback) {
                var lat;
                var lng;
                var geocoder = new google.maps.Geocoder();
                geocoder.geocode({
                    'address': city
                }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        lat = results[0].geometry.location.lat();
                        lng = results[0].geometry.location.lng();
                        callback([lat,lng]);
                    } else {
                        alert("Something went wrong: " + status);
                    }
                });
            }

            $("#submitButton").click(function(e) {
                cityToLatLng($("#destField").val(), function(latLng){
                    alert("hi");
                    alert(latLng);
                    var lat = latLng[0];
                    var lng = latLng[1];
                    var input = $("<input>").attr("type", "hidden").attr("name", "lat").val(lat);
                    $('#mainForm').append($(input));
                    input = $("<input>").attr("type", "hidden").attr("name", "lng").val(lng);
                    $('#mainForm').append($(input));
                    var latLng = [1, 2];

                    data = $('#mainForm').serialize()
                    alert(data);
                    $('#mainForm').submit();
                      });
                return false;
            });
        </script>
    </body>
</html>
