<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static_files/style.css">
        <title>Plan a Day</title>
    </head>
    <body>
        <div id="home">
            <div id="bigLogo">
                LOGO GOES HERE
            </div>
            <form method="POST">{% csrf_token %}
                <div id="homeMainForm">
                    <div id="destDiv">
                        <input type="text" name="destination" id="destField">
                    </div>
                    <div id="startEnd">
                        <input type="text" name="from" class="startEndField">
                        <!--input type="text" name="return" class="startEndField"-->
                    </div>
                    <div id="timeFrame">
                        <input type="text" name="date" id="dateInput">
                        <input type="text" name="startTime" class="timeInput">
                        <input type="text" name="endTime" class="timeInput">
                    </div>
                </div>
                <div id="homeSubmit">
                    <input type="submit" value="Go!">
                </div>
            </form>
        </div>
    </body>
</html>
