<div id="searchResults">
    <div class="list-left ui-sortable">
		{% for place in searchResults %}
			<div class="singleSearchResult place" id='{{place.id}}'>{{place.name}}</div>
		{% endfor %}
	</div>
</div>

<article>
    <h2>Your trip:</h2>
    <div id="miniNavBar">
        <img src="{% static 'images/gmaps.png' %}" id="gMapIcon" class="icons">
    </div>
	<!--
	    <div id="verticalTimeline">
	    </div>
	  -->
	<div id="tourResult">
		<div class="list-right ui-sortable" id="blah">
		{% for place in tourPlaces %}
        <div>
            <div class="place" id='{{place.id}}'>{{place.name}}</div>
            <div class="delete">
                <input type="button" class="brightButton small deleteButton" value="X">
            </div>
        </div>
            {% endfor %}
		</div>
	</div>
</article>
