{% load staticfiles  %}

<nav>
<!--Search filters go here-->
<div id="searchFilters">
    <form method="POST">{% csrf_token %}
        <div id="transpoIcons">
            <img src="{% static 'images/car_icon.png' %}" id="carIcon" class="icons">
            <img src="{% static 'images/bus_icon.png' %}" id="busIcon" class="icons">
            <img src="{% static 'images/bike_icon.png' %}" id="bikeIcon" class="icons">
            <img src="{% static 'images/walk_icon.png' %}" id="walkIcon" class="icons">
        </div>
        <div id="filterOptions">
            <input type="button" class="brightButton small" value="Points of Interest" id="poiButton" onclick="toggleList('poiList')">
            <input type="button" class="brightButton small" value="Food" id="foodButton" onclick="toggleList('foodList')">
            <input type="button" class="brightButton small" value="Shopping" id="shopButton" onclick="toggleList('shopList')">
        </div>
        <div id="moreOptions">
            <div id="poiList">
                <input type="checkbox" onclick="filter()" name="amusement_park">Amusement Park</input><br>
                <input type="checkbox" onclick="filter()" name="aquarium">Aquarium</input><br>
                <input type="checkbox" onclick="filter()" name="art_gallery">Art Gallery</input><br>
                <input type="checkbox" onclick="filter()" name="bowling_alley">Bowling Alley</input><br>
                <input type="checkbox" onclick="filter()" name="movie_theater">Movie Theater</input><br>
                <input type="checkbox" onclick="filter()" name="museum">Museum"</input><br>
                <input type="checkbox" onclick="filter()" name="zoo">Zoo"</input><br>
            </div>
            <div id="foodList">
                <input type="checkbox" onclick="filter()" name="food">Food</input><br>
                <input type="checkbox" onclick="filter()" name="restaurant">Restaurant</input><br>
                <input type="checkbox" onclick="filter()" name="bakery">Bakery</input><br>
                <input type="checkbox" onclick="filter()" name="cafe">Cafe</input><br>
                <input type="checkbox" onclick="filter()" name="bar">Bar</input><br>
                <input type="checkbox" onclick="filter()" name="night_cafe">Night Cafe</input><br>
            </div>
            <div id="shopList">
                <input type="checkbox" onclick="filter()" name="shopping_mall">Shopping Mall</input><br>
                <input type="checkbox" onclick="filter()" name="book_store">Book Store</input><br>
                <input type="checkbox" onclick="filter()" name="clothing_store">Clothing Store</input><br>
                <input type="checkbox" onclick="filter()" name="department_store">Department Store</input><br>
                <input type="checkbox" onclick="filter()" name="jewelry_store"></input>Jewelry Store<br>
                <input type="checkbox" onclick="filter()" name="spa">Spa</input><br>
            </div>
        </div>
        {% for area in areas %}
        {{area}} 
        <input type="checkbox" onclick="filter()" name="areas" value="{{area}}" id="areas">
        {% endfor %}
    </form>
</div>

<div id="searchResults">
    <div class="list-left ui-sortable">
		{% for place in searchResults %}
			<div class="singleSearchResults place" id='91'>Place 1</div>
			<div class="singleSearchResults place" id='90'>Place 2</div>
			<div class="singleSearchResults place" id='{{place.id}}'>{{place.name}}</div>
            <div class="singleSearchResults place">
                <div id="placeTitle">Place 1</div>
                <div id="description">This is a place for blah</div>
            </div>
		{% endfor %}
	</div>
</div>
</nav>

<article>
    <div id="miniNavBar">
        <img src="{% static 'images/gmaps.png' %}" id="gMapIcon" class="icons">
    </div>
	<!--
	    <div id="verticalTimeline">
	    </div>
	  -->
	<div id="tourResult">
		<div class="list-right ui-sortable" id="blah">
		{% for place in tourPlaces %}
			<div class="place" id='{{place.id}}'>{{place.id}} Place 3</div>
		    <div class="place" id='{{place.id}}'>{{place.name}} {{place.id}}</div>
		{% endfor %}
		</div>
	</div>
</article>
